<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Account</title>
</head>
<body>
    <h1>Update Your Account</h1>
    <form action="/updateAccount" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName">
        <br>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>
